<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferramenta de Arqueologia</title>
    <link rel="stylesheet" type="text/css" href="/css/highlight-image.css" />
</head>
<body>
    <div id="raw-image-container">
        <img src="/raw/<%= imageName %>" id="raw-image">
    </div>
    <div id="button-container">
        <button onclick="handleButtonClick('red')">Botao 1</button>
        <button onclick="handleButtonClick('green')">Botao 2</button>
        <button onclick="handleButtonClick('blue')">Botao 3</button>
    </div>

    <script>
        const handleButtonClick = async (color) => {
            try {
                // Prepare data for the request
                const data = { 
                    imageName: '<%= imageName %>',
                    color: `${color}` 
                };

                // Make POST request to your backend endpoint
                const response = await fetch('/process-image', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                // Retrieve binary image data as Blob
                const imageBlob = await response.blob();

                // Create an object URL from the Blob
                const imageUrl = URL.createObjectURL(imageBlob);

                // Get a reference to the existing <img> element
                const imgElement = document.getElementById('raw-image'); // Replace 'your-img-id' with the actual ID of your <img> element

                // Set the image URL as the source of the <img> element
                imgElement.src = imageUrl;

            } catch (error) {
                // Handle error
                console.error(error);
            }
        }
        
    </script>
    
</body>
</html>