<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ferramenta de Arqueologia</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>
<body>
    <form action="/save-raw-image" method="POST" enctype="multipart/form-data">
        <input type="file" name="rawImage" />
        <button type="submit">Enviar imagem</button>
    </form>

    
</body>
</html>