main {
    max-width: 100%;
}

#contrasted-image-container {
    max-width: 100%;
    width: 750px;
    height: auto;
    border-radius: var(--default-border-radius);
    overflow: hidden;
}

#contrasted-image-container img {
    height: 100%;
    width: 100%;
}

#mask-buttons-container {
    margin: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 750px) {
    #mask-buttons-container {
        flex-direction: column;
    }
}

#mask-buttons-container button {
    width: 100%;
    
    padding: 1rem 2rem;
    border-radius: 10px;

    background-color: #111;
    color: white;
    
    font-size: 20px;

    cursor: pointer;
}

#mask-buttons-container button:hover {
    background-color: #333;
}

#mask-buttons-container button:nth-child(1) {
    background-color: red;
}

#mask-buttons-container button:nth-child(2) {
    background-color: green;
}

#mask-buttons-container button:nth-child(3) {
    background-color: blue;
}

#result-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

#result-buttons-container a {
    width: 100%;
}

#result-buttons-container button {
    width: 100%;

    padding: 1rem 2rem;
    border-radius: var(--default-border-radius);
    
    background-color: var(--default-darker);
    color: white;
    
    font-weight: bolder;
    font-size: var(--default-font-size);
    
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    #result-buttons-container {
        flex-direction: column;
    }
}