html, body {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

form {
    display: flex;
    flex-direction: column;
}